.index.image {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image {
    height: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.recipe-link {
    color: green;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    text-align: center;
}

h4 {
    font-weight: bold;
}

.strawberrypie-title {
    color: red;
}

.minitarts-title {
    color: brown;
}

.crepes-title {
    color: rgb(190, 190, 3);
}

.description.title {
    font-weight: bold;
    color: green;
}

.ingredients.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ol li,
ul li,
.return,
.steps.title,
.description {
    font-family: Arial, Helvetica, sans-serif;
}